<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TenderApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<header>
    <h1 class="text-center">Tender app</h1>
    <nav>
        <ul>
            <li><a href="/">Strona Główna</a></li>
            <li><a href="/tenders">Lista Przetargów</a></li>
            <li><a href="/tenders">Lista Zakończonych Przetargów</a></li>
            <li><a href="/tenders/add">Dodaj Przetarg</a></li>
        </ul>
    </nav>
</header>
