<%- include('header') %>

<main class="container mt-4">
  <h2>Witaj w Tender App</h2>
  <div class="tender-details">
    <p class="lead mb-4">Przeglądaj listę aktualnych i zakończonych przetargów, sprawdzaj szczegóły, składaj oferty i twórz własne przetargi.</p>
  </div>
</main>


<%- include('footer') %>
